# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Neovim
*.tmp
.luarc.json

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Test files
test_output/

# Markdown files except README
*.md
!README.md
